In [4]:
#Evaluacion_1

In [6]:
import pandas as pd
deudapbiLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/variable_deuda_PBI.csv'
gastosaludLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/variable_gasto_salud.csv'
hdiLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/Variable_Naciones_Unidas.csv'

deudapbi=pd.read_csv(deudapbiLink)
gastosalud=pd.read_csv(gastosaludLink)
hdi=pd.read_csv(hdiLink)

In [7]:
deudapbi.shape,gastosalud.shape,hdi.shape

((190, 2), (192, 2), (193, 2))

In [8]:
deudapbi.columns,gastosalud.columns,hdi.columns

(Index(['Countries', 'Debt ($M)'], dtype='object'),
 Index(['Countries', 'Gov. Health Exp.($M)'], dtype='object'),
 Index(['Countries', 'HDI'], dtype='object'))

In [22]:
merge1=deudapbi.merge(gastosalud,how='inner',left_on='Countries',right_on='Countries').merge(hdi,how='inner',left_on='Countries',right_on='Countries')
merge1

              Countries   Debt ($M)  Gov. Health Exp.($M)    HDI
0     United States [+]  29,476,402  3,590,550,278,000.00  0.921
1    United Kingdom [+]   3,151,536     87,073,157,032.30  0.929
2           Germany [+]   2,711,576    445,746,483,000.00  0.942
3            France [+]   3,106,402    279,900,617,256.00  0.903
4             Japan [+]  12,783,842    213,703,956,338.90  0.925
..                  ...         ...                   ...    ...
182           Samoa [+]         364                  36.2  0.707
183           Yemen [+]      18,092                   183  0.455
184    South Africa [+]     288,114             15,210.00  0.713
185          Zambia [+]      24,538                 446.9  0.565
186        Zimbabwe [+]   1,905,213                 732.5  0.593

[187 rows x 4 columns]

In [23]:
merge1.shape

(187, 4)

In [26]:
merge1=merge1.rename(columns={"Countries": "Country"})
merge1

                Country   Debt ($M)  Gov. Health Exp.($M)    HDI
0     United States [+]  29,476,402  3,590,550,278,000.00  0.921
1    United Kingdom [+]   3,151,536     87,073,157,032.30  0.929
2           Germany [+]   2,711,576    445,746,483,000.00  0.942
3            France [+]   3,106,402    279,900,617,256.00  0.903
4             Japan [+]  12,783,842    213,703,956,338.90  0.925
..                  ...         ...                   ...    ...
182           Samoa [+]         364                  36.2  0.707
183           Yemen [+]      18,092                   183  0.455
184    South Africa [+]     288,114             15,210.00  0.713
185          Zambia [+]      24,538                 446.9  0.565
186        Zimbabwe [+]   1,905,213                 732.5  0.593

[187 rows x 4 columns]

In [28]:
merge1.country[merge1.country.str.contains(pat=r'[[+]]',regex=True)]

AttributeError: 'DataFrame' object has no attribute 'country'

In [24]:
import pandas as pd
countryLink='https://github.com/ZairaYacsavilca/evaluaci-n_1/raw/main/data/country_isos.csv'

country=pd.read_csv(countryLink)